@import "../../node_modules/normalize.css/normalize.css";

@tailwind base;

@tailwind components;

@tailwind utilities;

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }

.hero {
    height: 16rem;
    @media (min-width: 768px){
        height: 30rem;
    }
    &-img {
        width: 680px;
    }
}
.bg{
    &-doly{
        background-color: #ffff8c;
    }
}
.header-policy{
    padding: 0.75rem;
}