extends __layout__

block content
    include header
    main.container.m-auto
        .my-4.leading-8.px-6(class="md:px-0")
            a.text-gray-400.font-bold.transition.duration-150.ease-in-out(class='hover:underline hover:text-gray-800' href='/') Strona główna
            span.font-bold.text-astral  / Kontakt
        header#contact.w-full.text-center.my-6.p-6.text-2xl.font-extrabold.leading-9.tracking-tight.bg-athens_gray(class='sm:text-4xl sm:leading-10')
            h2.text-fiord Kontakt
            span.text-astral Gdzie mnie znajdziesz
        .my-8.max-w-screen-xl.mx-auto.overflow-hidden.bg-mercury(class='sm:flex sm:flex-row-reverse sm:rounded-lg')
            form#contact-form.flex.flex-col.items-center.p-6(class="sm:w-1/2" aria-labelledby='Formularz kontaktowy' method='' name='contact-form' action='')
                input.w-full.min-w-0.p-3.mb-8.text-base.leading-6.text-gray-900.placeholder-gray-500.transition.duration-150.ease-in-out.bg-white.border.border-transparent.rounded-md.appearance-none(class='focus:outline-none focus:placeholder-gray-400' aria-label='Twój e-mail' type='email' name='email' required='required' placeholder='Twój email' autocomplete='off' id="email-to")
                textarea.w-full.h-56.resize-none.p-3.mb-3.text-base.leading-6.text-gray-900.placeholder-gray-500.transition.duration-150.ease-in-out.bg-white.border.border-transparent.rounded-md.appearance-none(class="focus:outline-none focus:placeholder-gray-400" name='message' required='required' placeholder='w czym mogę Ci pomóc?' id='text-area-form')
                p.mb-3.h-16(id="form-info-text")
                button.w-48.flex.items-center.justify-center.px-5.py-3.text-base.font-medium.leading-6.text-fiord.transition.duration-150.ease-in-out.border.border-fiord.rounded-md.bg-mercury(class='hover:bg-fiord hover:text-mercury focus:outline-none focus:bg-fiord focus:text-mercury' id='btn-form') Wyślij
            iframe.m-auto(title='Lokalizacja audioszum' class='sm:w-1/2' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d38839.56230124348!2d17.568198729626495!3d52.52488218257585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4704911512d87b73%3A0xf68138bc94628172!2sGniezno!5e0!3m2!1spl!2spl!4v1611872266193!5m2!1spl!2spl' width='600' height='500' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
            
