section
  header.w-full.text-center.my-6.p-6.text-2xl.font-extrabold.leading-9.tracking-tight.bg-athens_gray(class='sm:text-4xl sm:leading-10')
    h2.text-fiord Dla kogo?
    span.text-astral Wszyscy jesteśmy ludźmi
  .flex.flex-col-reverse.my-8.px-4.py-12.max-w-screen-xl.mx-auto.shadow.bg-mercury(class='sm:flex-row sm:px-6 lg:px-8 lg:py-8 sm:rounded-lg')
    p.my-auto.text-lg.leading-7.text-fiord(class='sm:w-1/2 sm:pr-3')
      | Zdecydowanie dla wszystkich osób
      | potrzebujących pomocy w tematyce
      | elektronicznej i komputerowej. Osobom nietechnicznym mogę zaoferować odpowiednią usługę, natomiast
      | osoby techniczne, szukające rozwiązania danego problemu lub ochotników poszerzania swojej wiedzy
      | zapraszam na blog
      a.font-semibold(class='hover:underline' target="_blank" rel="noopener noreferrer" href='https://digi-chip.pl')  Digi-chip.pl
      |  i zachęcam do udziału w dyskusjach.
    img.m-auto(class='sm:pl-3' src='img/handshake.png' alt='Pomocny uścisk dłoni.')
  p.px-4.py-12.max-w-screen-xl.mx-auto.shadow.text-lg.bg-fiord.text-mercury(class='sm:px-6 lg:px-8 lg:py-8 sm:rounded-lg')
    | Jeżeli na pierwszym miejscu stawiasz na szybkość działania
    | oraz niską
    | cenę, a samo rozwiązanie Twojego
    | problemu schodzi na drugi plan, to wiedz, że to miejsce nie jest dla Ciebie. Moim głównym celem jest
    | pomoc w skutecznym rozwiązaniu Twojego problemu. Cała reszta to wypadkowa jakości mojej pracy, którą Ty
    | możesz ocenić.