section
	header.w-full.text-center.my-6.p-6.text-2xl.font-extrabold.leading-9.tracking-tight.bg-athens_gray(class='sm:text-4xl sm:leading-10')
		h2.text-fiord Jakość Jakość Jakość
		span.text-astral Staram się najlepiej jak mogę
	.flex.flex-col-reverse.my-8.px-4.py-12.max-w-screen-xl.mx-auto.shadow.bg-mercury(class='sm:flex-row sm:px-6 lg:px-8 lg:py-8 sm:rounded-lg')
		p.my-auto.text-lg.leading-7.text-fiord(class='sm:w-1/2 sm:pr-3')
			| Czy dbasz o swój sprzęt, aby zawsze
			| wyglądał estetycznie oraz służył Ci jak najdłużej? Ja też,
			| dlatego podczas naprawy obchodzę się z Twoim sprzętem z niebywałą starannością i ostrożnością.
			| Możesz mieć pewność, że urządzenie wróci do Ciebie w takim samym stanie wizualnym, mechanicznym jak
			| przed naprawą. Na szczególną uwagę zasługuję także zabezpieczanie sprzętu do wysyłki. W tej
			| czynności bardzo skupiam się nad pakowaniem sprzętu w sposób, który zminimalizuję możliwość
			| powstania uszkodzeń podczas transportu.
		picture.m-auto
			source(srcset='/img/top-quality-small.webp' type='image/webp')
			img(class='sm:pl-3 sm:h-76' src='/img/top-quality-small.png' alt='Pomocny uścisk dłoni.' loading="lazy")