section#price
		header.w-full.text-center.my-6.p-6.text-2xl.font-extrabold.leading-9.tracking-tight.bg-athens_gray(class='sm:text-4xl sm:leading-10')
			h2.text-fiord Czego oczekuję w zamian?
			span.text-astral By przeżyć musimy zarabiać
		.my-8.max-w-screen-xl.mx-auto.overflow-hidden.bg-mercury(class='sm:flex sm:rounded-lg')
			img.m-auto.p-6(class='sm:w-1/2 lg:w-1/3' src='img/save-money.svg' width="649" height="649" alt='Pieniążki do rączki' loading="lazy")
			p.relative.p-6.text-lg.leading-7.tracking-tight.text-mercury.bg-fiord.shadow(class='sm:w-1/2 sm:pt-12')
				| Jak każdy człowiek chcę mieć
				| możliwość zaspokojenia podstawowych potrzeb życiowych. Dlatego w zamian za moją usługę pobieram
				| opłatę. Jak wysoką, to zależy. Jest to bardzo trudna kwestia, ponieważ w pewnym sensie, dla
				| niektórych osób będzie konfliktem interesów. Dlatego doszedłem do wniosku, że będę wyceniał moją
				| pracę na podstawie dostarczanej wartości oraz ilości czasu spędzonym nad danym problemem. Wartość
				| samego urządzenia nie biorę pod uwagę podczas wyceny. Z powyższych powodów nie znajdziesz tutaj
				| cennika i dlatego z tego miejsca zapraszam do kontaktu.
				a.block.w-36.text-center.text-base.my-6.py-2.px-4.border.border-mercury.rounded-lg.transition.duration-150.ease-in-out(class='hover:bg-mercury hover:text-fiord' href='#contact')
					| Kontakt
					span.ml-1 →
		p.px-4.py-12.max-w-screen-xl.mx-auto.shadow.text-lg.bg-doly.text-black(class='sm:px-6 lg:px-8 lg:py-8 sm:rounded-lg')
			| Na koszt naprawy składa się zbyt wiele czynników takich jak ceny części, które są bardzo
			| zróżnicowane ze względu na czas czy miejsce nabycia. Czas potrzeby do zdiagnozowania i naprawy
			| usterki. W niektórych przypadkach ważną rolę odgrywa opłacalność naprawy dla mnie, jak i dla Ciebie.
			| Przybliżony koszt naprawy zostanie oszacowany indywidualnie podczas diagnozy każdego urządzenia.