section#help
  header.w-full.text-center.my-6.p-6.text-2xl.font-extrabold.leading-9.tracking-tight.bg-athens_gray(class='sm:text-4xl sm:leading-10')
    h2.text-fiord W czym mogę pomóc?
    span.text-astral W czym sie specjalizuję
  .relative.grid.gap-2.mx-auto.my-5.mb-8(class='md:max-w-lg sm:gap-8 lg:grid-cols-3 lg:max-w-none')
    .mb-4
      header.w-full.text-lg.bg-mercury.overflow-hidden(class='sm:rounded-lg')
        img.m-auto.object-cover.w-full.h-64(class='sm:h-80 md:h-64 lg:h-40 xl:h-48' src='img/amplifier.png' alt='Elektronika')
        h3.flex.p-6.text-fiord.font-extrabold.tracking-tight
          img.mr-2(src='img/chip.svg' alt='')
          | Elektronika
      ul.p-6.text-fiord
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          |                             Wzmacniacze
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Amplitunery
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Odtwarzacze
          |                             CD/DVD/Blu-ray
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Przetworniki C/A A/C
          |                             (DAC)
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Telewizory
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Elektronika przemysłowa
    .mb-4
      header.w-full.text-lg.bg-mercury.overflow-hidden(class='sm:rounded-lg')
        img.m-auto.object-cover.w-full.h-64(class='sm:h-80 md:h-64 lg:h-40 xl:h-48' src='img/motherboard.png' alt='Komputery')
        h3.flex.p-6.text-fiord.font-extrabold.tracking-tight
          img.mr-2(src='img/computer.svg' alt='')
          | Komputery
      ul.p-6.text-fiord
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          |                             Składanie komputerów PC
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Modernizacja komputerów PC
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Naprawa komputerów PC
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Naprawa laptopów
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Czyszczenie i konserwacja
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Naprawa monitorów
    .mb-4
      header.w-full.text-lg.bg-mercury.overflow-hidden(class='sm:rounded-lg')
        img.m-auto.object-cover.w-full.h-64(class='sm:h-80 md:h-64 lg:h-40 xl:h-48' src='img/software.png' alt='Oprogramowanie')
        h3.flex.p-6.text-fiord.font-extrabold.tracking-tight
          img.mr-2(src='img/software.svg' alt='')
          | Oprogramowanie
      ul.p-6.text-fiord
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Instalacja Windows/Linux
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Konfiguracja oprogramowania
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Konfiguracja sieci domowych
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Odzyskiwanie danych
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Archiwizacja danych
        li.flex.px-2.py-4.border-b-2.border-mercury.border-opacity-50
          img.w-4.mr-2(src='img/check-icon.svg' alt='')
          | Usuwanie wirusów
  p.px-4.py-12.max-w-screen-xl.mx-auto.shadow.text-lg.bg-fiord.text-mercury(class='sm:px-6 lg:px-8 lg:py-8 sm:rounded-lg')
    | Montaż elementów elektronicznych THT i smd na płytkach drukowanych według wytycznych. Programowanie
    | układów. Naprawa urządzeń nietypowych jak hulajnoga elektryczna itd. Jeżeli masz cokolwiek innego, to
    | proszę zapytać. O ile będzie to możliwe, postaram się pomóc.