section#price
		header.w-full.text-center.my-6.p-6.text-2xl.font-extrabold.leading-9.tracking-tight.bg-athens_gray(class='sm:text-4xl sm:leading-10')
			h2.text-fiord Czego oczekuję w zamian?
			span.text-astral By przeżyć musimy zarabiać
		.my-8.max-w-screen-xl.mx-auto.overflow-hidden.bg-mercury(class='sm:flex sm:rounded-lg')
			picture.m-auto(class='sm:w-1/2 xl:w-1/3')
				source(srcset='/img/stamp-small.webp' type='image/webp')
				img.m-auto.p-6(src='img/stamp-small.png' width="649" height="649" alt='Pieniążki do rączki' loading="lazy")
			p.relative.p-6.text-lg.leading-7.text-mercury.bg-fiord.shadow(class='sm:w-1/2 sm:pt-12')
				| Często zadawane pytanie, jakie otrzymuję, brzmi „Panie, a ile to będzie kosztować?”.
				| Zdarza się, że jeszcze nie widziałem urządzenia, a tylko otrzymałem sugestię usterki i na tej podstawie
				| mam wycenić naprawę. Takie zachowanie jest dla mnie w pełni zrozumiałe, ponieważ nie będąc fachowcem w danej dziedzinie
				| mamy prawo do niezdawania sobie sprawy z pewnych rzeczy. W takim przypadku z mojej strony możesz otrzymać także tylko
				| sugestię ceny. Możemy ustalić wstępną kwotę, przy której naprawę dokonuję bez żadnej zwłoki czasowej.
				| Natomiast ostateczny koszt naprawy będzie podany po dokonaniu diagnozy.
				a.block.w-36.text-center.text-base.my-6.py-2.px-4.border.border-mercury.rounded-lg.transition.duration-150.ease-in-out(class='hover:bg-mercury hover:text-fiord' href='#contact')
					| Kontakt
					span.ml-1 →
		p.px-4.py-12.max-w-screen-xl.mx-auto.shadow.text-lg.bg-doly.text-black(class='sm:px-6 lg:px-8 lg:py-8 sm:rounded-lg')
			| Na koszt naprawy składa się wiele czynników takich jak ceny części, które są zróżnicowane
			| ze względu na czas czy miejsce nabycia. Czas potrzebny do zdiagnozowania i naprawy usterki.
			| Zdarzają się takie sytuacje, kiedy ostateczny koszt naprawy można oszacować dopiero po dokonanej naprawie.
			| Na przykład, kiedy ujawniają się nowe wady, dodatkowe uszkodzenia po pomiarach, oględzinach
			| w trakcie naprawy danej elektroniki, urządzenia.