extends __layout__

block content
    include home-header
    main.container.min-h-screen.m-auto
        include home-for-whom
        include home-help
        include home-quality
        include home-price
        include home-blog     
        include contact